#### What is Pandas

Pandas is a fast,powerful,flexible and easy to use open source data analysis and manipulation tool,built on top of the python programming language

#### Pandas Series

A Pandas Series is like a column in a table.It is a 1D array holding data of any type

#### Importing Pandas

In [1]:
import numpy as np
import pandas as pd

#### Series from lists

In [2]:
# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [4]:
# integers
runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)
runs_ser

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [5]:
#custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [7]:
# setting a name
marks_series = pd.Series(marks,index=subjects,name='Girish marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: Girish marks, dtype: int64

#### Series from a dictionary

In [8]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name='Girish marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: Girish marks, dtype: int64

#### Series attributes

In [9]:
#size
marks_series.size

4

In [10]:
#dtype
marks_series.dtype

dtype('int64')

In [11]:
marks_series.name

'Girish marks'

In [12]:
#is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [13]:
#index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [14]:
#values
marks_series.values

array([ 67,  57,  89, 100])

#### Series using read_csv

In [17]:
# with one col
subs = pd.read_csv('data/subs.csv')
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [18]:
# with 2 cols
vk = pd.read_csv('data/kohli_ipl.csv',index_col='match_no')
vk

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [19]:
movies = pd.read_csv('data/bollywood.csv',index_col='movie')
movies

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]