In [2]:
import pandas as pd
import numpy as np
import re

pd.options.display.max_columns = None

### `Question-1:`

The dataset is based on NFTs. This is quite large. So, when you will read the dataset, you have to wait. The link of the dataset: https://tinyurl.com/2pfhncqw

Your task is to make a pivote table by using the columns "verification_status", "contract_type", "rarity_score" and "last_sale_price" to find out the total values.

In [2]:
df = pd.read_csv('data/nfts_train.csv')

In [3]:
df.head(5)

,Unnamed: 0,rarity_score,last_sale_date,last_sale_price,total_supply,creation_date,verification_status,n_of_traits,contract_type,seller_fees,platform_fees,openrarity_enabled,has_website,has_own_twitter,has_discord,has_medium,n_tweets_in_range,avg_likes,avg_replies,avg_retweets,min_likes,min_replies,min_retweets,max_likes,max_replies,max_retweets
0,0,2.000000,2022-11,1.266732,1,2022-04,verified,2,own,1000.0,250,False,False,True,True,False,31,187.967742,8.290323,60.935484,0,0,2,591,28,380
1,1,97.077216,2021-08,1.200357,8888,2021-07,verified,5,own,500.0,250,False,False,True,True,False,11,133.181818,13.454545,55.181818,0,0,7,402,47,239
2,2,139.453086,2022-08,3.180572,8888,2021-07,verified,5,own,500.0,250,False,False,True,True,False,11,133.181818,13.454545,55.181818,0,0,7,402,47,239
3,3,127.753445,2021-08,3.502910,8888,2021-07,verified,5,own,500.0,250,False,False,True,True,False,11,133.181818,13.454545,55.181818,0,0,7,402,47,239
4,4,112.315719,2022-09,4.009567,8888,2021-07,verified,5,own,500.0,250,False,False,True,True,False,11,133.181818,13.454545,55.181818,0,0,7,402,47,239

In [5]:
df.pivot_table(index='verification_status',columns='contract_type',values=['rarity_score','last_sale_price'],margins=True)

                    last_sale_price                     rarity_score  \
contract_type               default       own       All      default
verification_status
approved                   0.005466  0.168499  0.017954  3296.041909
verified                   0.018829  4.178975  3.722836   125.845700
All                        0.007341  3.942674  2.162269  2851.357948


contract_type               own          All
verification_status
approved             393.000000  3073.676994
verified             260.837580   246.036413
All                  268.624713  1437.092531

### `Question-2:`

You are given a dataset about the cars' price and miles driven of different cars throughout the different years. The link of the dataset: https://tinyurl.com/2r24n45l. Your tasks are
- make a pivot table of the brands (the required brands are given below) from the "Year" 2018 to the year 2022 in which the "Price" is shown as average values and "Miles" are in median values. In this pivote table, every row represents a particular brand and each column represents either average "Price" of a partucular year or median values of "Miles" of a particular year.
- At the end plot a kde chart for the "Price" and "Miles" by using your pivot table.

There are some challenges to solve this task:
- There is no column that is represented to the brand name of the car. You have to find out on your own.
- Some values of "Years" column are misleading. You have to reset this column too that every value should tell a valid meaning.

In [7]:
# code here
df = pd.read_csv('data/carvana.csv')
df.head(5)

             Name   Year  Miles  Price
0  Chevrolet Trax   2018  41946  16990
1     GMC Terrain   2020  45328  23990
2   Jeep Wrangler   2012  81068  21590
3   Jeep Renegade   2019  35372  21590
4           BMW X  20173  68992  22990

In [9]:
df['brand'] = df['Name'].str.split(' ',n=1).str.get(0)
df.head(5)

             Name   Year  Miles  Price      brand
0  Chevrolet Trax   2018  41946  16990  Chevrolet
1     GMC Terrain   2020  45328  23990        GMC
2   Jeep Wrangler   2012  81068  21590       Jeep
3   Jeep Renegade   2019  35372  21590       Jeep
4           BMW X  20173  68992  22990        BMW

In [16]:
df['Year'] = df['Year'].astype(str)

In [19]:
df['Year'] = df['Year'].str[:4]

In [21]:
df.pivot_table(index='brand',columns='Year',values=['Miles','Price'],aggfunc={'Miles':'std','Price':'mean'})

                      Miles                                            \
Year                   2009          2010          2011          2012
brand
Acura                   NaN   1640.220553  15475.929125  10698.425662
Alfa                    NaN           NaN           NaN           NaN
Audi                    NaN   5186.914818   8388.191308  14996.526859
BMW            20684.724964   9573.228721  10707.614476  24142.660673
Buick                   NaN      0.000000  21300.589918  21344.020039
Cadillac                NaN  13037.537316  10958.108109  14199.178170
Chevrolet      17915.999963  32478.839393  24189.056382  23761.220645
Chrysler                NaN  20508.558600      0.000000  21862.945310
Dodge                   NaN      0.000000           NaN  53243.726410
FIAT                    NaN           NaN           NaN  16500.707604
Ford           13520.245717  21935.245078  24805.576444  20698.874166
GMC                     NaN           NaN           NaN  20506.096654
Genesis                 NaN           NaN           NaN           NaN
Honda          25657.615914  21795.812071  17834.664131  18943.196912
Hyundai                 NaN  11219.912172  29294.595203  15881.629795
INFINITI        4725.034603  17385.000000   7388.558365  17706.865227
Jaguar                  NaN           NaN      0.000000           NaN
Jeep               0.000000  14168.500000  17618.864369  20724.487453
Kia                0.000000   9531.194091  13132.264699  24164.435537
Land                    NaN           NaN           NaN           NaN
Lexus                   NaN   6444.984962  13597.444414  17912.897231
Lincoln                 NaN           NaN      0.000000  18555.955507
MAZDA          22587.339630  25924.274902  22660.302467  23063.286319
MINI                    NaN  31194.015652  50975.327856  22565.960062
Maserati                NaN           NaN           NaN           NaN
Mercedes-Benz   4692.186727   6564.145507  13759.770224  11491.478774
Mitsubishi              NaN           NaN           NaN      0.000000
Nissan                  NaN  26353.001851  18843.942281  19087.228254
Polestar                NaN           NaN           NaN           NaN
Pontiac        26384.982433           NaN           NaN           NaN
Porsche                 NaN           NaN           NaN           NaN
Ram                     NaN           NaN           NaN           NaN
Saturn             0.000000           NaN           NaN           NaN
Scion                   NaN           NaN   7350.000000  21678.347908
Subaru                  NaN      0.000000      0.000000  24188.868719
Tesla                   NaN           NaN           NaN           NaN
Toyota         20984.188031  16838.252342  18242.274535  22969.701397
Volkswagen              NaN      0.000000  17224.965504  18765.601634
Volvo              0.000000   2108.612103           NaN  13837.587759
smart                   NaN           NaN           NaN           NaN

                                                                       \
Year                   2013          2014          2015          2016
brand
Acura          10679.586978  12772.260666  21067.652903  24691.152100
Alfa                    NaN           NaN           NaN           NaN
Audi            6117.533617  13664.788382  19047.626892  14133.099780
BMW            11633.170928  14904.735861  13899.587566  16091.444440
Buick          24083.323454  24081.645550  26942.558149  22764.328417
Cadillac       15586.994117  24068.899921  14554.256096  31080.616661
Chevrolet      19387.386289  24869.019269  19260.324417  23754.344244
Chrysler       23989.990793  16261.444095  23686.649351  23335.770380
Dodge          12354.661877  32688.619369  18289.708871  21589.758912
FIAT           11204.847064   7361.891137  20371.520864  17574.663626
Ford           20918.357466  23872.365491  33400.361007  23080.428241
GMC             9096.422100  14438.624373  20702.834136  23904.748323
Genesis                 NaN           NaN           NaN           NaN
Honda          20403.960691  12619.556233  25579.324894  22364.327162
Hyundai        25506.064040  22103.417589  29920.384658  23656.646252
INFINITI       23457.965807  25999.180458  12109.254787   8219.974874
Jaguar             0.000000           NaN   6909.170886           NaN
Jeep           20337.603645  21525.195886  20476.223281  20095.329550
Kia            19743.976134  23793.451484  25002.227852  24966.320165
Land               0.000000   4642.524335           NaN  15867.777257
Lexus          20025.260054  22624.026405  15199.532284  18563.598243
Lincoln        17532.851658  16422.811198  23219.391324  11807.438182
MAZDA          23210.179856  21771.406068  21453.625521  26092.553875
MINI           18269.257571  25540.425235  20396.866620  20948.968610
Maserati        5047.328204           NaN           NaN           NaN
Mercedes-Benz  18698.703907  15823.270159  15767.626383  13357.174914
Mitsubishi              NaN  19425.304088  27274.926392  17128.724996
Nissan         23929.978622  24150.546942  23289.288847  20317.148513
Polestar                NaN           NaN           NaN           NaN
Pontiac                 NaN           NaN           NaN           NaN
Porsche          223.445743  25341.635366           NaN   1545.028317
Ram                     NaN  16328.365736           NaN  14274.886202
Saturn                  NaN           NaN           NaN           NaN
Scion          10890.005873  28475.242481  27701.989425  19027.452636
Subaru         15045.862709  19804.969024  22745.745084  30866.493261
Tesla                   NaN           NaN           NaN           NaN
Toyota         19458.811624  13834.863163  22876.521685  22869.615241
Volkswagen     25686.068429  20578.336386  19852.085765  25416.796444
Volvo           6952.094338  21088.045535  11028.344650  15003.184888
smart          27421.893594  16546.220737  18944.482545      0.000000

                                                                       \
Year                   2017          2018          2019          2020
brand
Acura          15481.568266  28125.605060  15228.205331           NaN
Alfa            7104.917241  23287.854732   7401.131213           NaN
Audi           18639.910774  14574.912611   5622.206017  11491.192301
BMW            13464.901261  13836.773650  14980.198119  22092.567555
Buick          19708.793214  15824.287454   9510.641794  13988.271338
Cadillac       15826.747067  12105.032144   2642.208467  14789.058639
Chevrolet      19452.665286  22302.988119  17686.830806  14131.182654
Chrysler       17896.087291  25226.964716  13429.380186  22611.126011
Dodge          18798.636672  24417.425491  23838.028856  24618.836460
FIAT           19284.545402  13789.644264  14714.213066           NaN
Ford           20861.396502  18458.385725  15466.427946  14929.418084
GMC            18984.832232  15140.958975  23770.443575  14045.700159
Genesis        19968.500000  16871.567799   8517.071171           NaN
Honda          25502.305951  19965.971069  14507.301637  13097.831097
Hyundai        24022.575165  24115.258526  22754.477594  16879.003140
INFINITI       18018.113737  23206.379856   8856.631804  10708.930202
Jaguar         16220.993468   8059.936542           NaN   3672.070833
Jeep           17924.512991  24132.066801  17011.336177  16665.423449
Kia            21196.628229  17046.174708  13592.028290  19190.343688
Land           25329.066327  22456.310075   4874.348020  19153.162319
Lexus          15583.226401  16807.843537  17592.169042  14075.156836
Lincoln        23257.618387  13604.277550   7211.690489  23242.967137
MAZDA          22725.912513  14870.593218  14923.612101  14506.751695
MINI           14904.927456  12076.461129  21537.010123      0.000000
Maserati        4691.500000           NaN      0.000000           NaN
Mercedes-Benz  13562.820170  15370.308376  10552.932633  11489.690759
Mitsubishi     20577.893788  27235.834306  15055.415627  18871.268311
Nissan         16477.081935  18897.790512  12263.560412  11126.191139
Polestar                NaN           NaN           NaN           NaN
Pontiac                 NaN           NaN           NaN           NaN
Porsche        24753.500000  13318.623959           NaN           NaN
Ram                     NaN           NaN  15655.162396  15800.842688
Saturn                  NaN           NaN           NaN           NaN
Scion                   NaN           NaN           NaN           NaN
Subaru         25151.027009  25807.956827  14741.101827  20273.976849
Tesla                   NaN  12896.662774   8412.175856  11135.439833
Toyota         27190.260362  20305.064609  14579.418199  16664.946606
Volkswagen     24867.018799  20807.379434  17698.740268  12597.481041
Volvo          18822.082640  36791.252914   6561.988499  11764.148259
smart                   NaN   5698.052098           NaN           NaN

                                                       Price                \
Year                   2021          2022 2023          2009          2010
brand
Acura            331.976405           NaN  NaN           NaN  16559.565217
Alfa                    NaN           NaN  NaN           NaN           NaN
Audi                    NaN      0.000000  NaN           NaN  20256.666667
BMW             9095.563422   5373.281307  NaN  21440.000000  18361.428571
Buick          11720.718849   7268.500000  NaN           NaN  12590.000000
Cadillac                NaN           NaN  NaN           NaN  15535.454545
Chevrolet      14082.834570   5051.057005  NaN  27561.428571  30290.000000
Chrysler        9671.569073   3584.249638  NaN           NaN  12704.285714
Dodge          16656.008828   5239.999078  NaN           NaN  13990.000000
FIAT                    NaN           NaN  NaN           NaN           NaN
Ford           15178.997335   4076.481132  NaN  16390.000000  16354.705882
GMC            11512.227262  11458.103057  NaN           NaN           NaN
Genesis            0.000000  14830.150522  NaN           NaN           NaN
Honda          10245.580862   9624.088665  NaN  15453.636364  14852.745098
Hyundai        12238.651907   6483.109200  NaN           NaN  14018.571429
INFINITI        8642.251660           NaN  NaN  15923.333333  20340.000000
Jaguar          9878.463106           NaN  NaN           NaN           NaN
Jeep           12556.919852  11345.482562  NaN  22590.000000  14740.000000
Kia            13201.242199  18109.369806  NaN  12990.000000  12750.000000
Land                    NaN           NaN  NaN           NaN           NaN
Lexus          12346.316568      0.000000  NaN           NaN  17972.266010
Lincoln                 NaN           NaN  NaN           NaN           NaN
MAZDA          16311.269547   4689.038313  NaN  17990.000000  14093.225806
MINI                    NaN   2503.865112  0.0           NaN  12790.000000
Maserati                NaN           NaN  NaN           NaN           NaN
Mercedes-Benz   5932.758153           NaN  NaN  19553.076923  18290.000000
Mitsubishi      8299.109110   2600.088628  NaN           NaN           NaN
Nissan         12419.885696   7544.507524  NaN           NaN  17200.000000
Polestar                NaN   3191.880010  NaN           NaN           NaN
Pontiac                 NaN           NaN  NaN  20290.000000           NaN
Porsche                 NaN           NaN  NaN           NaN           NaN
Ram            14029.003340   4033.397112  NaN           NaN           NaN
Saturn                  NaN           NaN  NaN  15590.000000           NaN
Scion                   NaN           NaN  NaN           NaN           NaN
Subaru         12279.376267   5775.934573  NaN  12590.000000  13590.000000
Tesla          10787.590026   3288.568933  NaN           NaN           NaN
Toyota         13920.355070  10325.709393  NaN  13718.571429  15210.338983
Volkswagen     14875.334582  12783.783497  NaN  13590.000000  13990.000000
Volvo          14040.782893      0.000000  NaN  14990.000000  14190.000000
smart                   NaN           NaN  NaN           NaN           NaN

                                                                       \
Year                   2011          2012          2013          2014
brand
Acura          15165.000000  19775.062241  17307.647059  20736.666667
Alfa                    NaN           NaN           NaN           NaN
Audi           23159.230769  24210.000000  22075.714286  22542.941176
BMW            23747.777778  21365.000000  23662.222222  21348.333333
Buick          16008.181818  16546.521739  16082.307692  16795.882353
Cadillac       17656.666667  20299.090909  19884.117647  21067.777778
Chevrolet      18617.777778  17982.857143  16584.285714  18664.782609
Chrysler       12590.000000  16240.000000  17266.923077  17073.333333
Dodge                   NaN  28790.000000  14302.000000  19648.064516
FIAT                    NaN  13406.666667  14807.391304  16495.676856
Ford           16759.696970  15903.513514  16758.115942  16598.205128
GMC                     NaN  20790.000000  17976.666667  22808.750000
Genesis                 NaN           NaN           NaN           NaN
Honda          15270.701754  16171.818182  17955.217391  18991.090909
Hyundai        14710.000000  14361.428571  15316.368159  15551.290323
INFINITI       16110.000000  19156.666667  20496.666667  21778.235294
Jaguar         25990.000000           NaN  27590.000000  38990.000000
Jeep           20210.000000  23312.222222  18684.117647  17525.135135
Kia            14658.899522  14243.658537  15526.585366  16731.573034
Land                    NaN           NaN  26990.000000  24870.000000
Lexus          20106.129032  19554.705882  20796.451613  23827.500000
Lincoln        19990.000000  16965.000000  17531.176471  16590.000000
MAZDA          14190.000000  15913.076923  16170.645161  18001.428571
MINI           15790.000000  16161.428571  17110.000000  17624.482759
Maserati                NaN           NaN  39290.000000           NaN
Mercedes-Benz  23840.000000  22286.000000  23323.333333  24965.000000
Mitsubishi     12990.000000  11990.000000  14590.000000  15326.842105
Nissan         14973.333333  18490.000000  14751.904762  16688.214286
Polestar                NaN           NaN           NaN           NaN
Pontiac                 NaN           NaN           NaN           NaN
Porsche                 NaN           NaN  53290.000000  38256.666667
Ram                     NaN           NaN           NaN  26090.000000
Saturn                  NaN           NaN           NaN           NaN
Scion          12690.000000  15256.666667  15251.538462  18678.888889
Subaru         14990.000000  16361.428571  17673.870968  19127.142857
Tesla                   NaN           NaN  38590.000000  39990.000000
Toyota         15955.217391  18085.454545  17482.307692  17951.881188
Volkswagen     14440.000000  15094.347826  17255.648855  16724.959350
Volvo                   NaN  16527.500000  20704.285714  17990.000000
smart                   NaN  12990.000000  14590.000000  13540.000000

                                                                       \
Year                   2015          2016          2017          2018
brand
Acura          22571.818182  24190.000000  23280.000000  25323.333333
Alfa                    NaN  56990.000000  26523.333333  28490.000000
Audi           22637.619048  23580.909091  24368.571429  30345.555556
BMW            22457.469880  24770.769231  26065.000000  31762.093023
Buick          20317.272727  18544.545455  21458.140845  21516.254545
Cadillac       22523.333333  24456.666667  25976.666667  28390.000000
Chevrolet      19806.279070  19126.363636  18418.834356  21262.413043
Chrysler       17548.490566  18496.666667  21181.111111  24125.062500
Dodge          17881.525424  20466.712329  18450.869565  20807.283951
FIAT           14875.714286  18041.428571  20350.975610  22602.500000
Ford           18240.980392  18957.241379  19388.275862  20214.190283
GMC            21235.454545  21808.750000  23048.181818  26052.206897
Genesis                 NaN           NaN  25840.000000  28839.000000
Honda          18852.559242  20879.265537  22603.852632  24265.054054
Hyundai        17808.713450  16472.000000  17791.000000  19335.487603
INFINITI       22782.000000  21150.000000  23977.457143  26140.000000
Jaguar         24723.333333           NaN  27997.857143  33323.333333
Jeep           18778.235294  18480.076336  20237.297297  21362.570175
Kia            17060.769231  16687.647059  17740.697368  21565.608108
Land                    NaN  31290.000000  27540.000000  39990.000000
Lexus          24610.000000  26631.666667  35115.000000  36056.666667
Lincoln        20812.222222  24801.594203  24413.076923  26462.785714
MAZDA          17600.526316  20681.428571  21378.732394  22720.603448
MINI           18326.363636  20201.111111  22662.727273  25065.000000
Maserati                NaN           NaN  40140.000000           NaN
Mercedes-Benz  26147.142857  26480.909091  28543.846154  34910.000000
Mitsubishi     14735.454545  16278.888889  17582.857143  17137.058824
Nissan         16964.725275  17423.620690  17114.467626  20050.358209
Polestar                NaN           NaN           NaN           NaN
Pontiac                 NaN           NaN           NaN           NaN
Porsche        33590.000000  39590.000000  50640.000000  45156.666667
Ram            24590.000000  27174.615385           NaN  34990.000000
Saturn                  NaN           NaN           NaN           NaN
Scion          19940.000000  16777.096774           NaN           NaN
Subaru         19031.379310  21090.000000  22485.000000  23732.857143
Tesla                   NaN           NaN  71590.000000  42923.333333
Toyota         18218.985507  20875.318560  21775.393258  22926.622449
Volkswagen     17885.412844  18560.909091  20095.357143  21447.142857
Volvo          19510.000000  22790.000000  26190.000000  27306.666667
smart          13332.857143  16590.000000           NaN  17765.000000

                                                                        \
Year                   2019          2020          2021           2022
brand
Acura          34496.777778  37590.000000  43856.666667            NaN
Alfa           30475.714286           NaN           NaN            NaN
Audi           28590.000000  32490.000000  71990.000000   39590.000000
BMW            33280.909091  39811.083333  37062.727273   57030.000000
Buick          21033.632653  24141.947368  25796.842105   26940.000000
Cadillac       32290.000000  38777.266667           NaN            NaN
Chevrolet      21119.717647  24684.226950  25234.727273   42358.421053
Chrysler       26628.142857  28668.142857  26471.978723   35190.000000
Dodge          23036.666667  26782.535714  32565.357143   36256.666667
FIAT           23904.285714           NaN           NaN            NaN
Ford           21698.428571  24875.921951  30274.927536   46910.625000
GMC            23809.533333  27799.681818  33881.250000   36680.909091
Genesis        39590.000000           NaN  49990.000000   37835.500000
Honda          24635.039683  26273.500000  25889.470899   34710.000000
Hyundai        21203.389831  22059.451220  23476.301370   29361.875000
INFINITI       29340.857143  32011.181818  34147.071429            NaN
Jaguar         33990.000000  44390.000000  60723.333333            NaN
Jeep           23255.171233  27072.555556  27614.642857   52023.333333
Kia            23777.239748  22863.761062  23776.060606   29672.352941
Land           40275.714286  51520.800000           NaN            NaN
Lexus          37927.272727  42123.333333  47132.857143   45990.000000
Lincoln        32515.000000  34523.333333           NaN   44590.000000
MAZDA          24133.750000  25381.484848  25377.700000   31230.000000
MINI           24847.142857  25990.000000           NaN   33090.000000
Maserati       46590.000000           NaN           NaN   86990.000000
Mercedes-Benz  36737.368421  38523.333333  42830.000000  102990.000000
Mitsubishi     18261.698113  19516.829268  20275.714286   21026.363636

In [ ]:
df.pivot_table(index='brand',columns='Year',values=['Miles','Price'],aggfunc={'Miles':'std','Price':'mean'}).plot.kde()

### `Question-3:`

You are given a dataset of **Daily Power Generation in India** of regional wise of all Power Stations. Link of the dataset: https://tinyurl.com/2nq6kugt

Task
- In this dataset, there are many columns. Two of them are `Actual(MU)` and `Excess(+) / Shortfall (-)`. `Actual(MU)` represents the actual power generation. `Excess(+) / Shortfall (-)` tells is that generated power is excess or shortfall for that particular day of a power station. You have to find out what should be the actual power generation required for that day by the power stations that there would not be any excess or shorfall power. For the result, make a new column.
- Find out the month of the day and store it as a new column.
- Find out top 10 frequently appeared power stations in this dataframe.
- Next create a pivot table of which every row represents a power station and every column represents a month in a order. Like January, February, March...
- It is hard to get inside if you look through the only pivot table. So plot the pivot table.

In [ ]:
# code here

###`Q-4` You are given a file `question-answer.csv`. Your task is to make a dataframe from it with two columns - `question` and `answers`.

* Questions in the file start from `Q<number>`; E.g.  `Q1` denotes question no. `1`
* Answers starts from `Ans<number>`; Eg. `Ans1` denotes answer of question no `1`
* MAke sure you look at columns name carefully

CSV File - "https://drive.google.com/file/d/10rmV3XrVtzpDTtYZF3UtCdcU0ajBJjGY/view?usp=share_link"

In [ ]:
# code here

###`Q-5`: Print Question and answer of those questions which does not contains any question mark (`?`).

In [ ]:
# code here

###`Q 6-10` LOG and EMPLOYEE
6. Show `activity` details month wise. Show count for each `activity`
7. Find employee who did most `activity` in January month.
8. Employee who have worked most no of times on Weekends.
9. Which activity is logged most on buisness days.
10. Week Days wise activity table.
```
log_file = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT-OMrmmNdOTM-B5f5F1EpCutMVG230UZiLvqlsg0NIKUKR3yrqiI2r1pEX-LvSEk-3WwySPYtvbBC-/pub?gid=1937029224&single=true&output=csv")
employee = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQ5AuFqRjSZVBKm5zyDxquX6utubq1DJKkYDI70vjeidAnyAu70KMSYpMYzeVSNVTeUIJBpfF6jU5E6/pub?gid=798824749&single=true&output=csv")

```

Note(for common field):- Employee file has `EMPLOYEE_ID` and LOG file has `emp_id`

In [6]:
log_file = pd.read_csv('data/equip_log.csv')
employee = pd.read_csv('data/employee.csv')

In [7]:
log_file.head(5)

   Log_ID          dt   dept  emp_id    activity       eqpt
0    1000  2022-01-07  Dept6     115    Cleaning        UPS
1    1001  2022-01-08  Dept4     105    Cleaning  Generator
2    1002  2022-01-09  Dept3     112  Inspection        CPU
3    1003  2022-01-10  Dept4     120  Inspection        UPS
4    1004  2022-01-11  Dept3     138    Checking    Battery

In [8]:
employee.head(5)

   EMPLOYEE_ID FIRST_NAME LAST_NAME     EMAIL
0          100     Steven      King     SKING
1          101      Neena   Kochhar  NKOCHHAR
2          102        Lex   De Haan   LDEHAAN
3          103  Alexander    Hunold   AHUNOLD
4          104      Bruce     Ernst    BERNST

In [9]:
employee.merge(log_file,how='inner',left_on='EMPLOYEE_ID',right_on='emp_id')

NameError: name 'logfile' is not defined

### `Q-11`:

1. There are missing value in first name of employee. Fill it using email and last name field.

> E.g- `email` -> JMURMAN and `last_name` -> 'Urman' -> so make it's first name as 'JM', Sort of (Email- lastname).

> Email is constructed from initials of first name concate with lastname. Your Task is to fill first name initials in missing data.

2. You can see email field don't have any domain name. Change this to full email addreess with domain as 'campusx.com'.
E.g- Email field -> `JMURMAN`  result -> `JMURMAN@CAMPUSX.COM`

3. Show Full Name of all the employees whose name starts with 'A' and has done any of these activity ['Incpection', 'Cleaning', 'Checking]

In [ ]:
# code here