In [1]:
import numpy as np
import pandas as pd

In [2]:
# till now
# Timestamp
pd.Timestamp('6th jan 2023 8:10')
# DatetimeIndex -> df and series index
pd.DatetimeIndex([pd.Timestamp('6th jan 2023 8:10'),pd.Timestamp('7th jan 2023 8:10'),pd.Timestamp('8th jan 2023 8:10')])[0]
# date_range()
pd.date_range(start='2023-1-6',end='2023-1-31',freq='D')
# to_datetime()
s = pd.Series(['2023/1/6','2023/1/7','2023/1/7'])
pd.to_datetime(s).dt.day_name()

0      Friday
1    Saturday
2    Saturday
dtype: object

#### TimeDelta Object

Represents a duration,the difference between 2 dates and times

In [4]:
# Create using timestamp objects
t1 = pd.Timestamp('6th Jan 2025 8:20:13')
t2 = pd.Timestamp('26th Jan 2025 10:00:00')

t2 - t1

Timedelta('20 days 01:39:47')

In [5]:
#standalone creation
pd.Timedelta(days=2,hours=10,minutes=35)

Timedelta('2 days 10:35:00')

In [6]:
#Arithmatic
pd.Timestamp('6th Jan 2025') + pd.Timedelta(days=2,hours=10,minutes=35)

Timestamp('2025-01-08 10:35:00')

In [7]:
pd.date_range(start='2025-1-6',end='2025-1-31',freq='D') - pd.Timedelta(days=2,hours=10,minutes=35)

DatetimeIndex(['2025-01-03 13:25:00', '2025-01-04 13:25:00',
               '2025-01-05 13:25:00', '2025-01-06 13:25:00',
               '2025-01-07 13:25:00', '2025-01-08 13:25:00',
               '2025-01-09 13:25:00', '2025-01-10 13:25:00',
               '2025-01-11 13:25:00', '2025-01-12 13:25:00',
               '2025-01-13 13:25:00', '2025-01-14 13:25:00',
               '2025-01-15 13:25:00', '2025-01-16 13:25:00',
               '2025-01-17 13:25:00', '2025-01-18 13:25:00',
               '2025-01-19 13:25:00', '2025-01-20 13:25:00',
               '2025-01-21 13:25:00', '2025-01-22 13:25:00',
               '2025-01-23 13:25:00', '2025-01-24 13:25:00',
               '2025-01-25 13:25:00', '2025-01-26 13:25:00',
               '2025-01-27 13:25:00', '2025-01-28 13:25:00'],
              dtype='datetime64[ns]', freq='D')

In [8]:
#real life example

df = pd.read_csv('data/deliveries.csv')
df.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [9]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

/var/folders/2n/v2zy3n991d94k9g19pvh8k5m0000gn/T/ipykernel_65590/3472121163.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['order_date'] = pd.to_datetime(df['order_date'])
/var/folders/2n/v2zy3n991d94k9g19pvh8k5m0000gn/T/ipykernel_65590/3472121163.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [10]:
df['delivery_time_period'] = df['delivery_date'] - df['order_date']

In [11]:
df.head()

  order_date delivery_date delivery_time_period
0 1998-05-24    1999-02-05             257 days
1 1992-04-22    1998-03-06            2144 days
2 1991-02-10    1992-08-26             563 days
3 1992-07-21    1997-11-20            1948 days
4 1993-09-02    1998-06-10            1742 days

In [12]:
df['delivery_time_period'].mean()

Timedelta('1217 days 22:53:53.532934128')

#### TimeSeries

A time series is a data set that tracks a sample over time. In particular, a time series allows one to see what factors influence certain variables from period to period. Time series analysis can be useful to see how a given asset, security, or economic variable changes over time.

Examples

    Financial Data (Company stocks)
    Natural Data (Rainfall measurement)
    Event Data (Covid)
    Medical Data (Heart rate monitoring)

Types of Operations done on Time Series

    Time Series Analysis
    Time Series Forecasting

In [14]:
google = pd.read_csv('data/google.csv')
google.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
3  2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276